<html lang="es">
  	<head>
    	<meta charset="UTF-8" />
    	<title>Redirigiendo...</title>
    	<script>
      		window.location.href = "/es/";
    	</script>
  	</head>
  	<body>
    	<p>
			Redirigiendo a 
			<a href="/es/">
				/es/
			</a>
			...
		</p>
  	</body>
</html>