---
import "../styles/global.css";
import Header from '../components/Header.astro';
import slidesText from '../i18n/es.json';
import Footer from '../components/Footer.astro';

const pathname = Astro.url.pathname;
const currentLocale = pathname.startsWith('/en') ? 'en' : 'es';

const { i18n } = Astro.props;
---
<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>PDT Peruvian Travel</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5/dist/photoswipe.css" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer i18n={{ footer: slidesText.footer }} />
	</body>
</html>